<div>
	<!-- Modal Structure -->
	<div id="adminModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
		<div class="modal-content">
			<div class="navbar-fixed">
				<nav id='placeholder-navbar' role="navigation">
					<div class="nav-wrapper container">
						<button type="button" class="back-btn" (click)="closeModal()">
						<i class="material-icons">arrow_back</i>
						<span>Back</span>
						</button>
					</div>
				</nav>
			</div>
			<h4>Register as Instructor</h4>
			<br>

			<div class="row">
				<form materialize class="col s12" >
					<div class="row">
						<div class="input-field col s6">
							<input [(ngModel)]='calendarId' name='calendarId' placeholder="Leave blank if using primary calendar" id="calendarId" type="text" class="validate">
							<label for="calendarId">Google Calendar Id</label>
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<a href="javascript:void(0)"
					class="modal-action modal-close waves-effect waves-green btn-flat"
					(click)='submit()'>
					Submit
				</a>
				<a href="javascript:void(0)"
					class="modal-action modal-close waves-effect waves-green btn-flat">
					Cancel
				</a>
			</div>
		</div>
	</div>
</div>