<div>
  <!-- Modal Structure -->
	<div id="bookingsModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	    <div class="modal-content">


			  <div class="navbar-fixed">
			  	  <nav id='placeholder-navbar' role="navigation">
				      <div class="nav-wrapper container">
				      	<button type="button" class="back-btn" (click)="closeModal()">
				      		<i class="material-icons">arrow_back</i>
				      		<span>Back</span>
				      	</button>
				       </div>
				  </nav>
			  </div>
			  	  <!-- Switch -->
				  <div class="switch right-align">
				  	<h6>Show Cancelled</h6>
				    <label>
				      Off
				      <input [(ngModel)]='showCancelledFilter' name='showCancelledFilter' type="checkbox">
				      <span class="lever"></span>
				      On
				    </label>
				  </div>

			  <!--- Bookings  -->
			  <ul class="collection with-header">
			  	<li class="collection-header"><h4>My Bookings</h4></li>

			    <li class="collection-item avatar"  
			    	*ngFor='let booking of (showCancelledFilter? _timeslotService.bookings : _timeslotService.filteredBookings ) | async'>
			      <img src="{{booking.instructor.imageUrl}}" alt="" class="circle">
			      <span class="title">{{booking.instructor.name}}</span>
			      <p>
			    	{{booking.start | date:'medium'}} - {{booking.end  | date:'shortTime'}} <br>
			      	<span [ngClass]="{
			    		'red-text lighten-5-text':booking.cancelled, 
			    		'green-text lighten-5-text':!booking.cancelled
			    	}">{{booking.cancelled?"Cancelled":"Booked"}}</span>
			      </p>
			      <a href="#" data-target='deleteWarningModal' (click)='cacheSelectedBooking(booking)' class="secondary-content">
			      	<i class="material-icons">delete</i>
			      </a>
			    </li>
			  </ul>

	  	</div>
	</div>
</div>

  <!-- Delete Warning Modal Structure -->
  <div id="deleteWarningModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <p>Are you sure you want to cancel booking?</p>
    </div>
    <div class="modal-footer">
    	<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat" (click)='cancelSelectedBooking()' >Delete Booking</a>
      <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat" (click)='selectedBooking = null'>Close</a>
    </div>
  </div>