<div>
  <!-- Modal Structure -->
	<div id="schedulerModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	    <div class="modal-content">


			  <div class="navbar-fixed">
			  	  <nav id='placeholder-navbar' role="navigation">
				      <div class="nav-wrapper container">
				      	<button type="button" class="back-btn" (click)="closeModal()">
				      		<i class="material-icons">arrow_back</i>
				      		<span>Back</span>
				      	</button>
				       </div>
				  </nav>
			  </div>
			<div class="container">
				<div class="row">
					<div id=#calendar class="col m6">
						<form #myForm="ngForm" novalidate>
						    <my-date-picker name="mydate" [options]="myDatePickerOptions"
						                    [(ngModel)]="model" (dateChanged)="onDateChanged($event)" required></my-date-picker>
						</form>
					</div>
					<div class="availableTimes col m6">
						<h4 *ngIf='(_timeslotService.timeslots | async | daySelected:selectedDate)?.length>0'>Pick a Time</h4>
						<h4 *ngIf='(_timeslotService.timeslots | async | daySelected:selectedDate)?.length==0'>Not available this day</h4>
						<div class="collection" >
							<!-- ngFor each timeslot on given day-->
					        <a href='javascript:void(0)'
					        	*ngFor='let timeslot of _timeslotService.timeslots | async | daySelected:selectedDate; let i = index' 
					        	(click)="toggleHighlight(i+1,timeslot);"
					        	[ngClass]="{'active': highlightedDiv === i+1}" 
					        	class="collection-item">
					        	{{timeslot.start | date:'shortTime'}} - {{timeslot.end  | date:'shortTime'}}
					        </a>
					    </div>
					</div>

				</div>
			</div>
		  	<div class="modal-footer">
		    	<a href="javascript:void(0)" 
		    		[ngClass]="{'disabled':!selected}"
		    		class="modal-action waves-effect waves-green btn-flat" 
		    		(click)='submit()'>
		    		Book
		    	</a>
		    	<a href="javascript:void(0)" 
		    		class="modal-action  waves-effect waves-green btn-flat" (click)="closeModal()">
		    		Done
		    	</a>
		  	</div>

	  	</div>
	</div>
</div>

  <!-- Success Modal Structure -->
  <div id="successModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="successModalActions">
    <div class="modal-content">
      <p>{{successModalMsg}}</p>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" [ngClass]="{'disabled':successModalMsg=='Successfully added event to your calendar'}" class="modal-action waves-effect waves-green btn-flat" (click)='addEventToUserCal()'>Add Event to my calendar</a>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" (click)='closeSuccessModal()'>Ok</a>
    </div>
  </div>

    <!-- Failure Modal Structure -->
  <div id="failureModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="failureModalActions">
    <div class="modal-content">
      <p>Unable to book</p>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>