<div>
  <!-- Modal Structure -->
	<div id="schedulerModal" class="modal" materialize='modal' [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	    <div class="modal-content">


			  <div class="navbar-fixed">
			  	  <nav id='placeholder-navbar' role="navigation">
				      <div class="nav-wrapper container">
				      	<button type="button" class="back-btn" (click)="closeModal()">
				      		<i class="material-icons">arrow_back</i>
				      		<span>Back</span>
				      	</button>
				       </div>
				  </nav>
			  </div>


			<div class="container">
				<div class="row">
					<div id=#calendar class="col m6">
						<form #myForm="ngForm" novalidate>
						    <my-date-picker name="mydate" [options]="myDatePickerOptions"
						                    [(ngModel)]="model" (dateChanged)="onDateChanged($event)" required></my-date-picker>
						</form>
					</div>
					<div class="availableTimes col m6">
						<div class="collection">
							<!-- ngFor each timeslot on given day-->
					        <a href="#" 
					        	*ngFor='let timeslot of dateSlots; let i = index' 
					        	(click)="toggleHighlight(i+1);"
					        	[ngClass]="{'active': highlightedDiv === i+1}" 
					        	class="collection-item">
					        	{{timeslot.start | date:'shortTime'}} - {{timeslot.end  | date:'shortTime'}}
					        </a>
					    </div>
					</div>

				</div>
			</div>
		  	<div class="modal-footer">
		    	<a href="javascript:void(0)" 
		    		class="modal-action modal-close waves-effect waves-green btn-flat" 
		    		data-target="authenticationModal"
		    		(click)='submit()'>
		    		Submit
		    	</a>
		  	</div>

	  	</div>
	</div>
</div>