<!-- Dropdown Structure -->
<ul id="userDropdown" class="dropdown-content">
  <li><a href="javascript:void(0)">Profile</a></li>
  <li class="divider"></li>
  <li><a href="javascript:void(0)">Bookings</a></li>
  <li><a href="javascript:void(0)" (click)='logout()'>Sign Out</a></li>
</ul>

<div class='navbar-fixed'>
  <nav class="white" role="navigation">
      <div class="nav-background">
          <div class="pattern active" style="background-image: url('http://placehold.it/1400x300');"></div>
      </div>
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Latin Swag</a>
        <ul class="right hide-on-med-and-down">
          <li [hidden]="!profile">
            <a  
                materialize="dropdown"
                id='profilePicLink'
                class="dropdown-button" 
                href="javascript:void(0)" 
                data-activates="userDropdown">
              <img *ngIf="profile" id='profilePic' src="{{profile.imageUrl}}"  class="circle responsive-img">
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li *ngIf='!profile'>
            <a class="waves-effect waves-light" (click)='signIn()'>Log In</a>
          </li>
        </ul>
      </div>

  </nav>
</div>

