nav ul a,
nav .brand-logo {
  color: #444;
}

#signIn{
  padding:0;
}

#profilePic{
  margin: 7px 0;
  height:50px;
}

#profilePicLink{
  max-height: 64px;
}

p {
  line-height: 2em;
}

.button-collapse {
  color: #26a69a;
}

.nav-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .1;}

