<!--Cards-->
		<div class="card">
		    <div class="card-image">
		      	<img src="{{instructor.imageUrl}}">
		    	<a class="btn btn-floating halfway-fab waves-effect waves-light pulse green" (click)='fetchTimeslots()'><i class="material-icons">schedule</i></a>
			</div>
			<div class="card-content">
          		<h5>{{instructor.name}}</h5>
        	</div>
		</div>
		<app-scheduler  [instructor]='instructor' [profile]='profile' [open]='openChildModal' (resetModalStatus)='onChildModalOpen()'></app-scheduler>
